<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Cadastrar Novo Usu치rio</title>
</head>
<body>
  <section name="formulario">

  <form class="formCadastro" action="cadastrar" method="POST">
    <p name="tituloForm">Formul치rio </p>
    <label>Usu치rio</label>
    <input class="caixa" type="text" name="usuario" placeholder="nome de usu치rio"/>
    <label>Senha </label>
    <input class="caixa" type="password" name="senha" placeholder="senha de acesso"/>
    <label>Confirme a senha</label>
    <input class="caixa" type="password" name="senhaConfirm" placeholder="confirme"/>
     
    <input method="" type="submit" name="botaoEnviar"/>
    
  </form>
  </section>
  
</body>
</html>